@import url("//db.onlinewebfonts.com/c/3926de581802988c57804f6694887c63?family=Acherus+Militant+1");
@import url(//db.onlinewebfonts.com/c/e7a2a8dc0efe6f24d867ce1acb87c1a1?family=Grotesque+MT);
*{
    margin:0px;
}
.blog{
    margin:5%
}
h1{
    background-color: #051d40;
    font-family: 'Nunito';
    color:white;
    padding:1%;
    text-align: center;
    font-size:50px;
    font-weight:lighter;
}
#header{
    background-color: #BCD2E8;
    padding:1.25%;
    padding-left: 3%;
    font-size:18px;
    font-family: "Acherus Militant 1"; src: url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.eot"); src: url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.woff") format("woff"), url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3926de581802988c57804f6694887c63.svg#Acherus Militant 1") format("svg");
}
span{
    font-family: 'Nunito',sans-serif;
}
.articles a{
    color:black;
    text-decoration: none;
}
#header a{
    margin-left:3%;
    margin-right:3%;
    color:#051d40;
    text-decoration: none;
}
.vertical{
    width:35%;
    float:left;
    margin-right: 5%;
}
.horizantal-1{
    width:55%;
    float:left;
    margin-bottom: 5%;
    margin-left: 4%;
}
.horizantal-2{
    width:55%;
    float:right;
    margin-left: 4%;
}
h2{
    margin-bottom:5%;
    font-family:'Nunito';
    font-size: xx-large;
    font-weight:lighter;
}
h3{
    margin-bottom:5%;
    margin-top: 3%;
    font-family: "Grotesque MT"; src: url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.eot"); src: url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.woff") format("woff"), url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e7a2a8dc0efe6f24d867ce1acb87c1a1.svg#Grotesque MT") format("svg");
}
.domain{
    margin: 4%;
    height:530px;
}
img{
    margin-bottom: 5%;
    object-fit: cover;
}
hr{
    margin-top:2%;
    width:45%;
    background-color: blue;
}
.data{
    width:48%;
    float:left;
    margin-right: 2%;
}
.image{
    width: 48%;
    float:left;
    margin-left: 2%;
}
P{
    font-family: "Grotesque MT"; src: url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.eot"); src: url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.woff") format("woff"), url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d8b55475a2a5600e13e4f07ad65fc651.svg#Grotesque MT") format("svg");
}
.card{
transition: all 400ms ease;
}
.card:hover{
    height: fit-content;
    /* box-shadow: 2px 2px 2px 2px #051d40; */
    -moz-box-shadow:    1px 1px 2.5px 2.5px #BCD2E8;
  -webkit-box-shadow: 1px 1px 2.5px 2.5px #BCD2E8;
  box-shadow:         1px 1px 2.5px 2.5px #BCD2E8;
    /* transform: scale(1.1); */
    padding: 5px;
}
#underline-ai{
    position:relative;
    top:-10%;
    left:4.5%;
    width: 30%;
}
#underline-web{
    position:relative;
    top:-10%;
    width: 20%;
    left:5%;
}
#underline-app{
    position:relative;
    top:-10%;
    left:4%;
    width: 20%;
}
#underline-crypto{
    position:relative;
    top:-10%;
    left:6.5%;
    width: 45%;
}
#underline-general{
    position:relative;
    top:-10%;
    left:4%;
    width: 15%;
}

