body{
    background-image: url('public/background.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    font-family: 'Nunito Sans', sans-serif;
}
.grid{
    height:42vh;
    width:84vh;
    margin: 0px;
    margin-left:auto;
    margin-right: auto;
    margin-top:18vh;
}
.row{
    width:100%;
    height:7vh;
}
h1{
    color:white;
    font-weight:400;
    font-size:50px;
    margin-top:3vh;
}
.col{
    padding: 0px !important;
}
.cell{
    height:100%;
    /* background-image: url('public/grass.jfif'); */
}
.player2{
    background-image: url('public/player.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.player{
    background-image: url('public/player2.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.finish{
    background-image: url('public/home.png');
    background-size:150%;
    background-position:center;
    
}
@media screen and (max-width:992px){
    .grid{
        height:99vw;
        width:99vw;
    }
    .row{
        height:11vw;
    }
}
