*{
    margin: 0px;
}
body{
    background-color: #232270;
    /* background-color: white; */
    font-family: 'Darker Grotesque', sans-serif;
}
.animation{
    animation: animate .5s;
}
.block{
    margin:15px;
    border-radius: 50%;
    border:8px solid white;
    background-image: url('icon.gif');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    cursor: pointer;
}
#block1{
    background-color: red;
    position:fixed;
    left:30%;
    top:12%;
}
h1{
    color: azure;
    font-size: 60px;
    font-weight: lighter;
}
#block2{
    background-color:blue;
    position:absolute;
    left:53%;
    top:12%;
}
#block3{
    background-color:green;
    position:absolute;
    left:30%;
    top:55%;
}
#block4{
    background-color: orange;
    position: absolute;
    left:53%;
    top:55%;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.row{
    height: 400px;
    width: 400px;
    position: absolute;
    left:36%;
    top:15%
}
button{
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
.restart{
    position: absolute;
    left:40%;
    bottom:2%;
}
.submit{
    position: absolute;
    left:52%;
    bottom:2%;
}
#player1{
    color:orange;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top:45%;
    /* left: -1%; */
}
#player2{
    color:orange;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top:45%;
    left:70%;
}
img{
    z-index: 2;
}
.example{
    height: 300px;
    width: 300px;
    position:absolute;
    left:37%;
    top:25%;
    background-color: black;
}
#memory{
    width: 150px;
    height: 150px;
    background-color: #fce43a;
    border-radius: 30px;
    position: absolute;
    left:42.5%;
    top:35%;
}
span{
    font-size:xx-large;
    font-weight: 600;
    color: #4c9cb2;
    position: relative;
    top:35%;
    left:18%;
}