*{
    margin: 0px;
}
body{
    background-color: #083d77;
    background-size: cover;
    font-family: 'Darker Grotesque', sans-serif;
}
.animation{
    animation: animate .5s;
}
h1{
    color: azure;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
}
.block{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    transition:all 400ms ease-in;
}
.block:hover{
    box-shadow:
    0 0 6px 3px #fff,  /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */
}
#block1{
    background-color:#EBEBD3;
}
#block2{
    background-color:#F4D35E;
}
#block3{
    background-color:#EE964B;
}
#block4{
    background-color:#F95738;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.row{
    height:24vw;
    width:24vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
button{
    font-size:large !important;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600 !important;
}
.restart{
    position:absolute;
    left:38vw;
    width:10vw;
}
.submit{
    position:absolute;
    right:38vw;
    width:10vw;
}
#player{
    color:#DCC48E;
    font-size: 2.5em;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:992px){
    .block{
        height:15vh;
        width:15vh;
    }
    h1{
        font-size:120px;
    }
    #player{
        margin-top: 5vh;
        font-size:80px;
    }
    .row{
        height:45vh;
        width:45vh;
        margin:0px !important;
        padding:0px !important;
        margin-top:10vh !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .restart{
        font-size: 50px !important;
        margin-top:20vw !important;
        width: 25vw;
        padding:30px;
        border-radius: 10px !important;
    }
    .submit{
        font-size: 50px !important;
        border-radius:10px !important;
        width: 25vw;
        padding: 30px;
    }
}
